ul{
    list-style: none;
    padding: 0 0;
}

p{
    margin: 0 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2b2b2b;
    height: 100vh;
}
.background {
    position: relative;
    top: -90px;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: #2b2b2b url("../images/background.png") no-repeat top;
    background-size: 1949px 1131px;
}

span{
    font-size: 13px;
}

.navBar{
    position: relative;
    background-color: #040404;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 90px;
    width: 100%;
}

.gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, rgba(43,43,43,1) 0%,rgba(43,43,43,0) 100%);
    z-index: 2;
    opacity: 0;
}

.container{
    width: 100%;
    overflow-x: hidden;
}

.row{
    width: 100%;
    height: 100%;
    display: flex;
}

.row-colDirection{
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.row--hidden{
    display: none;
    position: absolute;
    top: 90px;
    right: 0;
    width: 62.5%;
    max-width: 200px;
    background: black;
    z-index: 3;
}


.col-50{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.col-50--rightAlign{
    justify-content: flex-end;
}

.logo{
    padding-left: 1rem;
}

.hamburgerMenu{
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    background-image: url("../images/hamburgermenu.png");
    background-position: center;
    background-size: cover;
}

.listElement{
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

.listElement--30{
    color: #f93542;
    padding-left: 1rem;
    padding-bottom: 0;
}

.listElement--30 img{
    margin-right: 0.5rem;
}

.listElement--30:first-of-type {
    padding-top: 3rem;
}

.listElement--30:first-of-type img{
    margin-left: .25rem;
}

.link{
    text-decoration: none;
    color: black;
    padding-left: 1rem;
}

.link--colorWhite{
    color: white;

}

.link:hover{
    color:#f93542;
}

.text--uppercase{
    text-transform: uppercase;
}

.text--bold{
    font-weight: bold;
}

.list{
    margin: 0 0;
}

.list--hidden{
    background-color: white;
    overflow: hidden;
    display: none;
}

.list--hidden .listElement{
    min-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.subMenu{
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    height: calc(80% - 90px);
}


.subMenu ul{
    width: 100%;
}

.subMenu>p{
    width: 100%;
    align-self: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* Bigger screens */
@media all and (min-width: 1200px){

    .container{
        width: 1200px;
    }

    .hamburgerMenu{
        display: none;
    }

    .link{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 0;
        height: 100%;
        width: 100%;
    }

    .link--paddingLeft{
        padding-left: 1rem;
    }
    .link--justifyCenter{
        justify-content: center;
    }
    .link--justifyLeft{
        justify-content: flex-start;
    }

    .row--hidden{
        display: flex;
        position: inherit;
        width: 100%;
        max-width:100%;
    }

    .row--hidden>div{
        height: 40px;
        width: 100%;
    }
    .row-colDirection{
        flex-direction: column;
    }

    .list{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: flex-end;
    }

    .listElement{
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0 0;
    }

    .listElement--rightPadding{
        padding-right: 1rem;
    }

    .listElement--alignLeft{
        justify-content: flex-start;
    }

    .listElement--20{
        width: 20%;
    }
    .listElement--30{
        width: 30%;
        font-size: 0.9rem;
        justify-content: center;
    }

    .listElement--30:first-of-type {
        padding-top: 0;
    }

    .listElement--alignRight{
        justify-content: flex-end;
    }


    .subMenu:hover .list--hidden{
        position: absolute;
        flex-direction: column;
        display: flex;
        z-index: 1;
        top: 86px;
        width: 120px;
        height: 20vh;
        padding: 0 0;
        border-top: 4px solid #f93542;
    }

    .list--hidden .listElement:first-of-type{
        padding-top: 0;
    }

    .subMenu:hover p{
        color: #f93542;
        flex-direction: column;
    }

    .subMenu>p{
        position: relative;
        padding: 0 0;

    }
}

/* Animations */

/* Main menu Animations */
.slideMainMenuFromTop{
    display: flex;
    overflow: hidden;
    animation: ease;
    animation-fill-mode: forwards;
    animation-name: slideMainMenuFromTop;
    animation-duration: 1.5s;
}

@keyframes slideMainMenuFromTop {
    0%{
        height: 0;
    }

    100%{
        height: calc(100vh - 90px);
    }
}

.slideMainMenuToTop{
    display: flex;
    overflow: hidden;
    animation: ease;
    animation-fill-mode: forwards;
    animation-name: slideMainMenuToTop;
    animation-duration: 1.5s;
}

@keyframes slideMainMenuToTop {
     0%{
         height: calc(100vh - 90px);
     }
     100%{
         height: 0;
     }
 }

/* Submenu Animations */
.submenuShowing{
    display: flex;
    flex-direction: column;
    animation: ease;
    animation-fill-mode: forwards;
    animation-name: submenuShowing;
    animation-duration: 1.5s;
}

@keyframes submenuShowing {
    0%{
        height: 0;
    }

    100%{
        height: 150px;
    }
}

.submenuHiding{
    display: flex;
    flex-direction: column;
    animation: ease;
    animation-fill-mode: forwards;
    animation-name: submenuHiding;
    animation-duration: 1.5s;
}

@keyframes submenuHiding {
    0% {
        height: 150px;
    }
    100%{
        height: 0;
    }
}

/*Gradient Animations*/
.gradientShowing{
    animation: ease;
    animation-fill-mode: forwards;
    animation-name: gradientShowing;
    animation-duration: 1.5s;
}

@keyframes gradientShowing{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.gradientDisappear{
    animation: ease;
    animation-fill-mode: forwards;
    animation-name: gradientDisappear;
    animation-duration: 1.5s;

}

@keyframes gradientDisappear{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}